body {
	background: #efefefdb;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
p{
  color: #ff4949;
}

button {
  width: 100%;
  background-color: #ababab;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #929191;
}
input{
	width: 100%;
    border: none;
    padding: 14px 20px;
	margin: 8px 0;
	border-bottom: 1px solid #ababab;
	background: #efefefdb;
}
.next{
	width: 5%;
    padding: 5px;
    float: right;
}
.back{
	width: 5%;
    padding: 5px;
    float: left;
}
.show{
	display: block;
}
.hide{
	display:none;
}
